In [31]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('covid-19.csv')
df.sample(10)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
94,Laos,20,0,19,1,0,0,0,0.00,95.00,0.00,19,1,5.26,Western Pacific
96,Lebanon,3882,51,1709,2122,132,0,17,1.31,44.02,2.98,2905,977,33.63,Eastern Mediterranean
7,Armenia,37390,711,26665,10014,73,6,187,1.90,71.32,2.67,34981,2409,6.89,Europe
103,Madagascar,9690,91,6260,3339,395,6,681,0.94,64.60,1.45,7153,2537,35.47,Africa
75,Holy See,12,0,12,0,0,0,0,0.00,100.00,0.00,12,0,0.00,Europe
121,New Zealand,1557,22,1514,21,1,0,1,1.41,97.24,1.45,1555,2,0.13,Western Pacific
47,Denmark,13761,613,12605,543,109,0,77,4.45,91.60,4.86,13453,308,2.29,Europe
146,Senegal,9764,194,6477,3093,83,3,68,1.99,66.34,3.00,8948,816,9.12,Africa
67,Greece,4227,202,1374,2651,34,0,0,4.78,32.51,14.70,4012,215,5.36,Europe
20,Bolivia,71181,2647,21478,47056,1752,64,309,3.72,30.17,12.32,60991,10190,16.71,Americas

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New cases               187 non-null    int64
 6   New deaths              187 non-null    int64
 7   New recovered           187 non-null    int64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(4), int64(9), object(2)
memory usage: 22.0+ KB

In [8]:
# WHO regions
df['WHO Region'].unique()

array(['Eastern Mediterranean', 'Europe', 'Africa', 'Americas',
       'Western Pacific', 'South-East Asia'], dtype=object)

In [23]:
df['WHO Region'].value_counts()

Europe                   56
Africa                   48
Americas                 35
Eastern Mediterranean    22
Western Pacific          16
South-East Asia          10
Name: WHO Region, dtype: int64

In [13]:
# Confirmed levels in regions
df.groupby('WHO Region')['Confirmed'].mean().sort_values(ascending=False)

WHO Region
Americas                 252551.028571
South-East Asia          183529.700000
Eastern Mediterranean     67761.090909
Europe                    58920.053571
Western Pacific           18276.750000
Africa                    15066.812500
Name: Confirmed, dtype: float64

In [20]:
df[df['Confirmed']==df['Confirmed'].max()]['Country/Region']

173    US
Name: Country/Region, dtype: object

In [56]:
pd.pivot_table(df[(df['WHO Region']=='South-East Asia')], values=['Active'], index=['WHO Region'],
               columns=['Country/Region'], aggfunc=np.sum)

                    Active                                                \
Country/Region  Bangladesh Bhutan Burma   India Indonesia Maldives Nepal
WHO Region
South-East Asia      97577     13    52  495499     37292      807  4950


Country/Region  Sri Lanka Thailand Timor-Leste
WHO Region
South-East Asia       673      128          24